

.navigation {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-right: 100px;
}

.box {
    display: flex;
    justify-content: flex-end;
}

.outbox {
    background-color: lightblue;
}

.navigation > li{
    text-decoration: underline;
    margin-left: 20px;
}