
#loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 97vh;
}

#loader {
    border-radius: 50%;
    border: 3px dashed darkblue;
    width: 200px;
    height: 200px;
    animation: load 5s infinite linear;
}

@keyframes load {
    100% {transform: rotate(360deg);}
}